/********************** 메인 > 상단 날씨 정보 **********************/
.top-weather-info-box {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

.top-weather-info-box .left {
    width: 67px;
}

.top-weather-info-box .left .weather-icon {
    width: 100%;
    height: 67px;
    border-radius: 100%;
    background: #f9f9f9;
}

.top-weather-info-box .left strong {
    display: block;
    width: 100%;
    margin-top: 8px;
    padding: 6px 0;
    font-weight: 600;
    text-align: center;
    border-radius: 50px;
    background: var(--black3);
}

.top-weather-info-box .left strong > span {
    font-weight: 300;
}

.top-weather-info-box .right .location {
    font-size: 15px;
}

.top-weather-info-box .right > strong {
    display: block;
    margin-top: 10px;
    line-height: 32px;
    font-weight: 700;
    font-size: 27px;
}

/********************** 로그인 **********************/
.login-form-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    transform: translate(-50%, -50%);
}
.login-form-box .logo {
    margin-bottom: 30px;
    text-align: center;
}
.login-form-box .join-button {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
    color: var(--gray9);
}
.login-form-box .join-button a {
    font-weight: 600;
    color: var(--basic-text-color);
    border-bottom: 1px solid #fff;
}

/********************** 회원가입 **********************/
.login-form-box.join form {
    margin-top: 30px;
}
.login-form-box .password-check p {
    padding-left: 17px;
    font-weight: 500;
    font-size: 14px;
    background-repeat: no-repeat;
    background-position: left center;
}
.login-form-box .password-check p.match {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="13" height="10" viewBox="0 0 13 10" fill="none"><path d="M4.24667 9.86364L0.13 5.54546C-0.0433333 5.36364 -0.0433333 5.04545 0.13 4.81818L0.78 4.13636C0.953333 3.95455 1.25667 3.95455 1.47333 4.13636L4.59333 7.40909L11.5267 0.136364C11.7 -0.0454545 12.0033 -0.0454545 12.22 0.136364L12.87 0.818182C13.0433 1 13.0433 1.31818 12.87 1.54545L4.94 9.86364C4.72333 10.0455 4.42 10.0455 4.24667 9.86364Z" fill="%2300FFA3"/></svg>');
    color: var(--main-color);
}
.login-form-box .password-check p.unmatch {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none"><path d="M13 1.45666L11.5433 0L6.5 5.04334L1.45666 0L0 1.45666L5.04334 6.5L0 11.5433L1.45666 13L6.5 7.95666L11.5433 13L13 11.5433L7.95666 6.5L13 1.45666Z" fill="%23FF4952"/></svg>');
    color: var(--red-color);
}