/********************** 메인 > 상단 날씨 정보 **********************/
.top-weather-info-box {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

.top-weather-info-box .left {
    width: 67px;
}

.top-weather-info-box .left .weather-icon {
    width: 100%;
    height: 67px;
    border-radius: 100%;
    background: #f9f9f9;
}

.top-weather-info-box .left strong {
    display: block;
    width: 100%;
    margin-top: 8px;
    padding: 6px 0;
    font-weight: 600;
    text-align: center;
    border-radius: 50px;
    background: var(--black3);
}

.top-weather-info-box .left strong > span {
    font-weight: 300;
}

.top-weather-info-box .right .location {
    font-size: 15px;
}

.top-weather-info-box .right > strong {
    display: block;
    margin-top: 10px;
    line-height: 32px;
    font-weight: 700;
    font-size: 27px;
}

/********************** 로그인 **********************/
.login-form-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    transform: translate(-50%, -50%);
}
.login-form-box .logo {
    margin-bottom: 30px;
    text-align: center;
}
.login-form-box .join-button {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
    color: var(--gray9);
}
.login-form-box .join-button a {
    font-weight: 600;
    color: var(--basic-text-color);
    border-bottom: 1px solid #fff;
}

/********************** 회원가입 **********************/
.login-form-box.join form {
    margin-top: 30px;
}