/********************** Layout **********************/
.basic-layout {
    padding-left: 350px;
}
.basic-layout .con-body {
    padding: 40px 0;
}

.top-layout .con-body {
    padding: 120px 0;
}

/********************** Header  **********************/
.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
}

/********************** Logo & Sidebar Toggle Button  **********************/
.logo-toggle-button {
    position: absolute;
    top: 50%;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 18px;
    transform: translateY(-50%);
}

/********************** Sidebar  **********************/
.sidebar-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    padding-top: 76px;
}
.sidebar-wrap::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: var(--black3);
}

.sidebar-wrap .sidebar-bottom {
    padding: 25px 20px;
}

.weather-banner {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 106px;
    padding: 13px 15px;
    border-radius: 5px;
    background: #ABB7D1;
}

.weather-banner .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.weather-banner .top .location {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
}

.weather-banner .top .cur-location-button {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 4px 6px;
    font-size: 12px;
    border-radius: 50px;
    background: #8B9ABA;
}

.weather-banner .bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
}

.weather-banner .bottom span {
    display: block;
    width: 100%;
    margin-bottom: 2px;
    font-size: 12px;
    text-align: right;
}

.weather-banner .bottom strong {
    font-weight: 600;
    font-size: 34px;
}

/********************** Gnb **********************/
.gnb {
    margin-top: 15px;
}

.gnb ul li {
    margin-bottom: 5px;
}

.gnb ul li:last-child {
    margin-bottom: 0;
}

.gnb ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 43px;
    padding: 0 11px;
    font-weight: 500;
    font-size: 17px;
    color: #999;
}

/********************** Top Searchbar **********************/
.top-search-bar-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 400px;
    height: 44px;
    padding: 0 20px;
    border: 1px solid var(--black5);
    border-radius: 50px;
}

.top-search-bar-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 0;
    color: var(--basic-text-color);
}

.top-search-bar-box button {
    font-size: 0;
}

/********************** Header Actions **********************/
.header-actions {
    position: absolute;
    right: 20px;
    top: 24px;
    display: flex;
    align-items: center;
    gap: 18px;
}

.header-actions .mode-btn {
    font-size: 0;
}

.header-actions .login-btn {
    display: block;
    width: 63px;
    padding: 7px 0;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--black5);
}